<%- include("header") -%>
<div class="box" id="heading">
  <h1><%= kindOfDay %></h1>
</div>

<div class="box">
  <% newPlans.forEach(elem => { %>
  <div class="item">
    <input type="checkbox" />
    <p><%= elem %></p>
  </div>
  <% }) %>

  <form action="/" method="post" class="item">
    <div>
      <input
        type="text"
        name="plan"
        id="plan"
        placeholder="What's your plan?"
        autocomplete="off"
      />
    </div>
    <button type="submit">+</button>
  </form>
</div>

<%- include("footer") -%>
